        {% extends 'sklep_szablony/base.html' %}
        {% block content %}
        <div class="row">
            <div class="col-2" style="border-style: solid; height: 300px; margin-right: 1%; margin-left: 1%;">
                <h2>Menu</h2>
                <nav>
                    <ul>
                        <li><a href="{% url 'glowna' %}">Wszystkie</a></li>
                        <li><a href="{% url 'karty_graficzne' %}">Karty graficzne</a></li>
                        <li><a href="{% url 'peryferia' %}">Peryferia</a></li>
                        <li><a href="{% url 'procesory' %}">Procesory</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col" style="border-style: solid;">

                {% for karta in karty_graficzne %}
                <div class="row">
                        <div class="col m-1" style="border-style: solid;">
                            <h5>{{karta}}</h5>
                            <p>Kategoria: {{karta.kategoria}}</p>
                            <p>Producent: {{karta.producent}}</p>
                            <p>Opis: {{karta.opis}}</p>
                            <p>Cena: {{karta.cena}}</p>
                        </div>
                </div>
                {% endfor %}

            </div>
        </div>
        {% endblock %}
