        {% extends 'sklep_szablony/base.html' %}
        {% block content %}
        <div class="row py-1" style="border-style: solid;">
            <div class="col-8">
                <div class="row mb-1" style="border-style: solid;">
                    <h2>produkt1</h2>
                </div>
                <div class="row mb-1" style="border-style: solid;">
                    <h2>produkt2</h2>
                </div>
                <div class="row mb-1" style="border-style: solid;">
                    <h2>produkt3</h2>
                </div>
                <div class="row mb-1" style="border-style: solid;">
                    <h2>produkt4</h2>
                </div>
            </div>

            <div class="col mx-1 mb-1 pb-1 text-center" style="border-style: solid; height: 0%;">
                <h2>Podsumowanie</h2>
                <h3>1200,00zł</h3>
                <button type="button">Kupuję i płacę</button>
            </div>
        </div>
        {% endblock %}
