        {% extends 'sklep_szablony/base.html' %}
        {% block content %}
        <div class="row">
            <div class="col-2" style="border-style: solid;">
                <h2>Menu</h2>
                <nav>
                    <ul>
                        <li><a href="{% url 'glowna' %}">Wszystkie</a></li>
                        <li><a href="{% url 'karty_graficzne' %}">Karty graficzne</a></li>
                        <li><a href="{% url 'peryferia' %}">Peryferia</a></li>
                        <li><a href="{% url 'procesory' %}">Procesory</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col" style="border-style: solid;">

                {% for peryferium in peryferia %}
                <div class="row">
                    <div class="col m-1" style="border-style: solid;">
                        <h5>{{peryferium}}</h5>
                        <p>Kategoria: {{peryferium.kategoria}}</p>
                        <p>Producent: {{peryferium.producent}}</p>
                        <p>Opis: {{peryferium.opis}}</p>
                        <p>Cena: {{peryferium.cena}}</p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        {% endblock %}
